@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: App-logo-spin infinite 20s linear;
    -moz-animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tictactoe {
  font-family: 'Ranchers', cursive;
  font-size: 4rem;
}

.game.finished {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30% 0 !important;
  height: 100%;
}
.game .winner {
  font-size: 3rem;
  display: none;
}
.game.finished .winner {
  display:block;
}